/* Navbar Base (Escritorio) */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky; /* Se queda pegado arriba */
  top: 0;
  z-index: 999; /* Por encima de todo, menos del modal */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ff6b6b;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  cursor: pointer;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover,
.navbar-links a.active-link {
  color: #ff6b6b;
}

/* Icono Pata (Oculto en escritorio) */
.mobile-paw-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  animation: bounce 2s infinite;
}

/* RESPONSIVE (Móvil) */
@media (max-width: 768px) {
  .mobile-paw-icon {
    display: block; /* Aparece la pata */
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

    /* Lógica de ocultar/mostrar */
    display: none;
  }

  .navbar-links.active {
    display: flex; /* Se muestra al hacer click en la pata */
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
